<div class="row justify-content-center">

  <div class="card product-card" style="width: 18rem; float: left; margin: 5px;" *ngFor="let product of products;">
    <img  width="250" height="250" *ngIf="!product.productImagesFile.length" src="../../../../../assets/default.jpg" class="card-img-top" alt="...">
    <img width="250" height="250" *ngIf="product.productImagesFile.length" src="{{baseUrl.url}}/{{product.imagePath}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Price : {{product.price | currency}} </p><br>
      <p>Stock: {{product.stock}}</p>
      <a href="#" class="btn btn-success">add to cart</a>
    </div>
  </div>


</div>




