
<mat-list role="list">
    <a mat-list-item role="listitem" style="cursor: pointer;" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem"  style="cursor: pointer;" routerLink="customers">Customers</a>
    <a mat-list-item role="listitem"  style="cursor: pointer;" routerLink="products">Products</a>
    <a mat-list-item role="listitem"  style="cursor: pointer;" routerLink="orders">Orders</a>
    <a mat-list-item role="listitem" routerLink="authorize-menu">Authorize Menu</a>
    <a mat-list-item role="listitem"  style="cursor: pointer;" routerLink="">Go To Home</a>
   
  </mat-list>